.vs/ConsoleApplication1/FileContentIndex/017aebb0-98f4-4cc4-9778-690aa37a0901.vsidx
.vs/ConsoleApplication1/FileContentIndex/2bce79ed-5ee0-4135-ba5f-c8afd209f944.vsidx
.vs/ConsoleApplication1/FileContentIndex/e62d8247-eb93-48f1-b747-5577bd2d3740.vsidx
.vs/ConsoleApplication1/v17/.suo
.vs/ConsoleApplication1/v17/Browse.VC.db
.vs/ConsoleApplication1/v17/Browse.VC.db-shm
.vs/ConsoleApplication1/v17/Browse.VC.db-wal
.vs/ConsoleApplication1/v17/Browse.VC.opendb
.vs/ConsoleApplication1/v17/DocumentLayout.json
.vs/ConsoleApplication1/v17/ipch/AutoPCH/2427cc3c57c17462/HW_SETTINGUP.ipch
GRAP1/x64/Debug/ConsoleApplication1.log
GRAP1/x64/Debug/GRAP1.ilk
GRAP1/x64/Debug/GRAP1.tlog/link.read.1.tlog
GRAP1/x64/Debug/HW_SettingUp.obj
GRAP1/x64/Debug/vc143.idb
GRAP1/x64/Debug/vc143.pdb
x64/Debug/GRAP1.exe
x64/Debug/GRAP1.pdb
